.footer {
  height: 140px;
  padding-top: 40px;
  &_up-button {
    display: block;
    height: 60px;
    width: 60px;
    background-color: #262C30;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    & span, & span:before, & span:after {
      position: absolute;
      width: 2px;
      height: 25px;
      background-color: #888A8B;
      top: 50%; 
      margin-top: -13px;
      left: 50%; 
      margin-left: -1px;
      border-radius: 15%;
    }
    & span:before, & span:after {
      content: "";
      height: 10px;
	    transform-origin: top;
    }
    & span:before {
      transform: rotate(35deg);
      margin-left: -1px;
      -webkit-transform: rotate(35deg);
      -moz-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
      -o-transform: rotate(35deg);
    }
    & span:after {
      transform: rotate(-35deg);
      -webkit-transform: rotate(-35deg);
      -moz-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
      -o-transform: rotate(-35deg);
    }
  }
}