header {
  height: 30vh;
  background-image: url(../img/Header-bg.jpg);
  background-position: center;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
