.heading {
  font-size: 1.8rem;
  letter-spacing: 0.05em;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.main {
  width: 90vw;
  margin: -4rem auto 0;
  background-color: #FBFBFB;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #3C4858;
  &_img {
    max-width: 10rem;
    max-height: 10rem;
    background-color: #d7d4d1;
    transform: translateY(-3rem);
    -webkit-transform: translateY(-3rem);
    -moz-transform: translateY(-3rem);
    -ms-transform: translateY(-3rem);
    -o-transform: translateY(-3rem);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px 16px 15px rgba(0, 0, 0, 0.2), 0px 4px 10px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    & img {
      max-width: 9rem;
      user-select: none;
    }
  }
  &_name {
    font-size: 1.8rem;
  }
  &_speciality {
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
  }
  &_social {
    list-style: none;
    padding: 0;
    margin-bottom: 3rem;
    &-link {
      margin: 10px;
      display: inline-block;
      &-icon {
        fill: #2D3238;
        width: 1.8rem;
        max-height: 1.8rem;
        &_mail {
          max-height: 2rem;
          width: 2rem;
        }
        &_vk {
          max-height: 2rem;
          width: 2.3rem;
        }
        &_fb {
          width: 0.9rem;
        }
        &:hover {
          fill: #00CEC9;
        }
      }
    }
  }
  &_social a {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  &_about {
    font-family: 'Raleway Regular', 'sans-serif';
    max-width: 980px;
    margin: 0 auto;
    font-size: 1.2rem;
    margin-bottom: 6rem;
  }
}
.heading {
  text-align: center;
}
.skill-lvl {
  padding: 0;
  margin: 2.5rem auto 6rem;
  text-align: center;
  list-style: none;
  &_line {
    margin-bottom: 1.5rem;
    &-name {
      display: inline-block;
      min-width: 12rem;
      text-align: left;
      letter-spacing: 0.02em;
    }
    &-max {
      display: inline-block;
      background-color: #D7D7D7;
      min-width: 780px;
      height: 10px;
    }
    &_real-lvl {
      height: 10px;
      background-color: #00CEC9;
      &_html {
        width: 80%;
      }
      &_css {
        width: 75%;
      }
      &_js {
        width: 15%;
      }
      &_jq {
        width: 20%;
      }
      &_bs {
        width: 70%;
      }
      &_sass {
        width: 70%;
      }
      &_git {
        width: 40%;
      }
      &_gh {
        width: 40%;
      }
      &_svg {
        width: 65%;
      }
    }
  }
}

.prog-serv {
  display: flex;
  text-align: left;
  align-items: center;
  margin-bottom: 4rem;
  padding-bottom: 5rem;
  &_zigzag-svg {
    min-width: 37px;
    height: 150px;
    margin-right: 163px;
    & line {
      stroke: #00CEC9;
      stroke-width: 10px;
    }
  }
  &-list {
    padding: 0;
    margin-bottom: 0;
    max-height: 120px;
    & p {
      font-size: 1.17rem;
    }
    &_ide {
      max-width: 25%;
      margin-right: 5%;
      &-prog {
        display: inline;
        margin-right: 1.5rem;
        white-space: nowrap;
      }
    }
    &_design {
      max-width: 38%;
      margin-right: 2%;
      &-prog {
        display: inline;
        margin-right: 1.5rem;
        white-space: nowrap;
      }
    }
    &_other {
      max-width: 20%;
      &-prog {
        display: inline;
        margin-right: 1.5rem;
        white-space: nowrap;
      }
    }
  }
  
}