header {
  height: 35vh;
  background-image: url(../img/Header-bg.jpg);
  background-position: center;
}

.header {
  padding-top: 3em;
}

.AZ_logo {
  max-width: 32px;
}

.two_letters {
  fill: #FBFBFB;
  background: #fff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#AZ_logo:hover .two_letters {
  fill: #00CEC9;
}

#AZ_logo:hover .first_letter {
  -webkit-transform: translateX(18px);
          transform: translateX(18px);
}

#AZ_logo:hover .second_letter {
  -webkit-transform: translateX(-18px);
          transform: translateX(-18px);
}

.bg {
  fill: #fff;
  fill-opacity: 0;
}

.nav_menu {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #FBFBFB;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  padding-right: 100px;
  padding-left: 100px;
}

.nav_menu-logo {
  min-width: 32px;
  height: 52px;
}

.nav_menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav_menu-links_anchors {
  padding: 0;
  margin: 0;
  margin-right: 130px;
}

.nav_menu-links_anchors_link {
  display: inline;
}

.nav_menu-links_anchors_link:first-child {
  margin-right: 70px;
}

.nav_menu-links_anchors a {
  color: #FBFBFB;
  text-decoration: none;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.nav_menu-links_anchors a:hover {
  color: #dfe6e9;
}

.nav_menu-links_lang {
  margin: 0;
  padding: 0;
}

.nav_menu-links_lang a {
  color: #FBFBFB;
  text-decoration: none;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.nav_menu-links_lang a:hover {
  color: #dfe6e9;
}

.nav_menu-links_lang-ru, .nav_menu-links_lang-eng {
  display: block;
  position: relative;
}

.nav_menu-links_lang-eng {
  display: none;
}

.heading {
  font-size: 1.8rem;
  letter-spacing: 0.05em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.main {
  width: 90vw;
  margin: -4rem auto 0;
  background-color: #FBFBFB;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #3C4858;
}

.main_img {
  max-width: 10rem;
  max-height: 10rem;
  background-color: #d7d4d1;
  transform: translateY(-3rem);
  -webkit-transform: translateY(-3rem);
  -moz-transform: translateY(-3rem);
  -ms-transform: translateY(-3rem);
  -o-transform: translateY(-3rem);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  text-align: center;
  -webkit-box-shadow: 0px 16px 15px rgba(0, 0, 0, 0.2), 0px 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 16px 15px rgba(0, 0, 0, 0.2), 0px 4px 10px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

.main_img img {
  max-width: 9rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main_name {
  font-size: 1.8rem;
}

.main_speciality {
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.main_social {
  list-style: none;
  padding: 0;
  margin-bottom: 3rem;
}

.main_social-link {
  margin: 10px;
  display: inline-block;
}

.main_social-link-icon {
  fill: #2D3238;
  width: 1.8rem;
  max-height: 1.8rem;
}

.main_social-link-icon_mail {
  max-height: 2rem;
  width: 2rem;
}

.main_social-link-icon_vk {
  max-height: 2rem;
  width: 2.3rem;
}

.main_social-link-icon_fb {
  width: 0.9rem;
}

.main_social-link-icon:hover {
  fill: #00CEC9;
}

.main_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_about {
  font-family: 'Raleway Regular', 'sans-serif';
  max-width: 980px;
  margin: 0 auto;
  font-size: 1.2rem;
  margin-bottom: 6rem;
}

.heading {
  text-align: center;
}

.skill-lvl {
  padding: 0;
  margin: 2.5rem auto 6rem;
  text-align: center;
  list-style: none;
}

.skill-lvl_line {
  margin-bottom: 1.5rem;
}

.skill-lvl_line-name {
  display: inline-block;
  min-width: 12rem;
  text-align: left;
  letter-spacing: 0.02em;
}

.skill-lvl_line-max {
  display: inline-block;
  background-color: #D7D7D7;
  min-width: 780px;
  height: 10px;
}

.skill-lvl_line_real-lvl {
  height: 10px;
  background-color: #00CEC9;
}

.skill-lvl_line_real-lvl_html {
  width: 80%;
}

.skill-lvl_line_real-lvl_css {
  width: 75%;
}

.skill-lvl_line_real-lvl_js {
  width: 15%;
}

.skill-lvl_line_real-lvl_jq {
  width: 20%;
}

.skill-lvl_line_real-lvl_bs {
  width: 70%;
}

.skill-lvl_line_real-lvl_sass {
  width: 70%;
}

.skill-lvl_line_real-lvl_git {
  width: 40%;
}

.skill-lvl_line_real-lvl_gh {
  width: 40%;
}

.skill-lvl_line_real-lvl_svg {
  width: 65%;
}

.prog-serv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
  padding-bottom: 5rem;
}

.prog-serv_zigzag-svg {
  min-width: 37px;
  height: 150px;
  margin-right: 163px;
}

.prog-serv_zigzag-svg line {
  stroke: #00CEC9;
  stroke-width: 10px;
}

.prog-serv-list {
  padding: 0;
  margin-bottom: 0;
  max-height: 120px;
}

.prog-serv-list li:first-child {
  display: block;
  font-size: 1.17rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.prog-serv-list_ide {
  max-width: 25%;
  margin-right: 5%;
}

.prog-serv-list_ide-prog {
  display: inline;
  margin-right: 1.5rem;
  white-space: nowrap;
}

.prog-serv-list_design {
  max-width: 38%;
  margin-right: 2%;
}

.prog-serv-list_design-prog {
  display: inline;
  margin-right: 1.5rem;
  white-space: nowrap;
}

.prog-serv-list_other {
  max-width: 20%;
}

.prog-serv-list_other-prog {
  display: inline;
  margin-right: 1.5rem;
  white-space: nowrap;
}

.tg-icon {
  fill-rule: evenodd;
  clip-rule: evenodd;
}

.projects {
  color: #FBFBFB;
  font-family: 'Raleway Regular', 'sans-serif';
}

.projects .container {
  width: 90vw;
}

.projects_button {
  display: inline-block;
  height: 2.7rem;
  border: 0.1rem solid #00CEC9;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 2.5rem;
  padding: 0 4rem;
  color: #FBFBFB;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.projects_button:hover {
  background: #00CEC9;
  text-decoration: none;
  color: #FBFBFB;
}

.projects_project {
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.projects_project-row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects_project-row1 > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.projects_project-row1_desc-img {
  max-width: 45rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.projects_project-row1_mob-img {
  max-width: 12.5rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-left: -2.5rem;
}

.projects_project_title {
  font-family: 'Raleway Bold';
  font-size: 1.4rem;
  margin-top: 2.5rem;
}

.projects_project_description {
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 23px;
}

.projects_project small > a {
  color: #00CEC9;
}

.projects_project small > a:hover {
  color: #FBFBFB;
}

.projects_project_used-list {
  padding: 0;
  margin-top: 1.5rem;
}

.projects_project_used-list_item {
  display: inline-block;
  padding: .2rem .7rem;
  background-color: rgba(38, 44, 48, 0.8);
  color: #888A8B;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-right: .3rem;
}

.projects_project:after {
  content: "";
  display: block;
  height: 2px;
  width: 20vw;
  background-color: #00CEC9;
  margin-top: 6rem;
}

.projects_project:last-child:after {
  display: none;
}

.projects_project:last-child {
  margin-bottom: 2rem;
}

.footer {
  height: 140px;
  padding-top: 40px;
}

.footer_up-button {
  display: block;
  height: 60px;
  width: 60px;
  background-color: #262C30;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}

.footer_up-button span, .footer_up-button span:before, .footer_up-button span:after {
  position: absolute;
  width: 2px;
  height: 25px;
  background-color: #888A8B;
  top: 50%;
  margin-top: -13px;
  left: 50%;
  margin-left: -1px;
  border-radius: 15%;
}

.footer_up-button span:before, .footer_up-button span:after {
  content: "";
  height: 10px;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.footer_up-button span:before {
  transform: rotate(35deg);
  margin-left: -1px;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
}

.footer_up-button span:after {
  transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
}

@media (max-width: 1280px) {
  .projects_project-row1_desc-img {
    max-width: 40rem;
  }
  .projects_project-row1_mob-img {
    max-width: 11.5rem;
  }
}

@media (max-width: 1200px) {
  .projects_project-row1_desc-img {
    max-width: 35rem;
  }
  .projects_project-row1_mob-img {
    max-width: 10rem;
  }
  .skill-lvl_line-max {
    min-width: 84%;
  }
  .skill-lvl_line-name {
    min-width: 15%;
  }
  .prog-serv-list {
    max-height: 200px;
  }
}

@media (max-width: 1080px) {
  .prog-serv_zigzag-svg {
    display: none;
  }
  .prog-serv-list_ide {
    max-width: 30%;
    margin-right: 3%;
  }
  .prog-serv-list_design {
    max-width: 48%;
    margin-right: 0;
  }
  .prog-serv-list_other {
    max-width: 22%;
  }
  .prog-serv {
    margin-top: 2rem;
  }
}

@media (max-width: 1030px) {
  .projects_button {
    height: 2.3rem;
    line-height: 2.1rem;
    padding: 0 2rem;
  }
}

@media (max-width: 992px) {
  .projects_project-row1_mob-img {
    display: none;
  }
  .skill-lvl_line {
    text-align: left;
  }
  .skill-lvl_line-max {
    min-width: 100%;
  }
  .projects_button {
    padding: 0 3rem;
  }
}

@media (max-width: 870px) {
  .projects_project-row1 {
    display: block;
    text-align: center;
  }
  .projects_project-row1_desc-img {
    margin: 0 auto;
  }
  .projects_button {
    padding: 0 4rem;
    height: 2.7rem;
    line-height: 2.5rem;
    margin-top: 2rem;
  }
  .nav_menu-links_anchors {
    margin-right: 5rem;
  }
  .nav_menu-links_anchors_link:first-child {
    margin-right: 3rem;
  }
  .projects_project-row1_desc-img {
    max-width: 90%;
  }
  .projects_project_used-list_item {
    margin-bottom: 0.3rem;
  }
}

@media (max-width: 768px) {
  .mobile_nav {
    display: block;
  }
  .nav_menu-links {
    display: none;
  }
  .projects_project:after {
    width: 100%;
  }
  .prog-serv {
    display: block;
    text-align: center;
    padding-bottom: 3rem;
  }
  .prog-serv-list {
    margin-bottom: 2rem;
  }
  .prog-serv-list_ide {
    max-width: 100%;
    margin-right: 0;
  }
  .prog-serv-list_ide-prog {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
  .prog-serv-list_design {
    max-width: 100%;
  }
  .prog-serv-list_design-prog {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
  .prog-serv-list_other {
    max-width: 100%;
  }
  .prog-serv-list_other-prog {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
}

@media (max-width: 576px) {
  .projects_project small {
    font-size: 100%;
  }
  .nav_menu {
    padding-right: 50px;
    padding-left: 50px;
  }
  .AZ_logo {
    max-width: 26px;
  }
}

@media (min-width: 769px) {
  .mobile_nav {
    display: none;
  }
}

.mobile_nav-btn {
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 99;
}

.mobile_nav-btn span, .mobile_nav-btn span:before, .mobile_nav-btn span:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1.5px;
  margin-left: -15px;
  width: 30px;
  height: 3px;
  background-color: #FAFAFA;
}

.mobile_nav-btn span:before {
  content: "";
  display: block;
  transform: translateY(-8px);
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
}

.mobile_nav-btn span:after {
  content: "";
  display: block;
  transform: translateY(8px);
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  -ms-transform: translateY(8px);
  -o-transform: translateY(8px);
}

.mobile_nav-menu {
  display: none;
}

body {
  background-color: rgba(37, 52, 63, 0.8);
  position: relative;
  font-family: 'Roboto Bold', 'sans-serif';
}
/*# sourceMappingURL=style.css.map */