@import "_main";
@import "_header";
@import "_nav";
@import "_projects";
@import "_footer";
@import "_media-query";
@import "_mobile-menu";

body {
  background-color: rgba(37, 52, 63, 0.8);
  position: relative;
  font-family: 'Roboto Bold', 'sans-serif';
}