@import "_main";
@import "_header";
@import "_nav";
@import "_projects";
@import "_footer";
@import "_media-query";
@import "_mobile-menu";
@import "_scrollbar";

body {
  background-color: #1a2730;
  position: relative;
  font-family: "Roboto Bold", "sans-serif";
}

.no-scroll {
  overflow: hidden;
}
