$icons: (
        sprite: (width: 24px, height: 15px, pngPath: '../images/svg/sprite.png', svgPath: '../images/svg/sprite.svg'),
arrow: (width: 24px, height: 15px, backgroundX: 0px, backgroundY: 0px),
);