<section class="about">
  <div class="about__img">
    <img src="../static/images/my_photo.png" alt="my_photo">
  </div>
  <h1 class="heading" id="about_me">Artsiom Zavaley</h1>
  <h5 class="sub-heading--small about__speciality">junior front-end developer</h5>
  {{> blocks/social}}
  <button class="btn btn-secondary about__resume">Download Resume</button>
  <p class="text about__text">
    Hi, I am 20 years old and I am from Minsk. 
    I develop websites and try to absorb all the information that 
    I can find, and at the same time practice. 
    In the future I want to reach the level of a professional 
    who can easily create something like that.
  </p>
</section>