<div class="education__item">
  <div class="education__col-1">
    <p class="sub-heading">
      <time datetime="2017">2017</time> - <time datetime="2018">2018</time>
    </p> 
  </div>
  <div class="education__col-2">
    <a class="education__item-title" href="#" target="_blank" rel="nofollow noopener noreferrer">Belarusian State Technological University</a>
    <div class="education__item-inner">
      <p class="text education__info">
        One course in the specialty "Information Systems and Technologies".
      </p>
    </div>
  </div>
</div>