<div class="experience__item">
  <div class="experience__col-1">
    <p class="sub-heading">
      <time datetime="10-2017">10.2019</time> -
      <time datetime="10-2018">11.2019</time>
    </p>
  </div>
  <div class="experience__col-2">
    <h3 class="experience__item-title">
      <a href="#" target="_blank" rel="nofollow noopener noreferrer">
        OziTag
      </a>
    </h3>
    <div class="experience__item-inner">
      <p class="text experience__info">
        Two months of practice HTML-coder. Primary occupation:
        Creation of landing pages, one-page and multi-page sites, widgets, emails.
        Teamwork.
      </p>
      <ul class="tag-list">
        <li class="tag-item">html</li>
        <li class="tag-item">html</li>
        <li class="tag-item">html</li>
        <li class="tag-item">html</li>
        <li class="tag-item">html</li>
        <li class="tag-item">html</li>
        <li class="tag-item">html</li>
      </ul>
    </div>
  </div>
</div>