<section class="project">
  <div class="project__about">
    <div class="project__info">
      <h3 class="project__tittle sub-heading">Test project</h3>
      <div class="project__descr">
        <p class="text--bold">
          What was done:
        </p>
        <p class="text">
          Site design (Desktop + Mobile); 
          Bootstrap based responsive layout.
        </p>
      </div>
      <small class="project__link">
        The code can be viewed in <a href="" target="_blank" rel="nofollow noopener noreferrer">GitHub</a>.
      </small>
      <div class="project__tags">
        <ul class="tag-list">
          <li class="tag-item">html</li>
          <li class="tag-item">html</li>
          <li class="tag-item">html</li>
          <li class="tag-item">html</li>
          <li class="tag-item">html</li>
        </ul>
      </div>
    </div>
    <div class="project__btn">
      <a class="btn btn-primary" href="#" target="_blank" rel="nofollow noopener noreferrer">view</a>
    </div>
  </div>
  <div class="project__img">
    <img class="project__img-mob" src="../static/images/test-1-mob.jpg" alt="">
    <img class="project__img-desc" src="../static/images/test-1-desc.jpg" alt="">
  </div>
</section>