<section class="services">
  <h2 class="heading" id="services">Programms & Services</h2>
  <div class="services__row">
    <div class="services__inner">
      <div class="services__col">
        <ul class="services__list">
          <li class="services__item">
            <p class="text--lg">
              Adobe Photoshop
            </p>
          </li>
          <li class="services__item">
            <p class="text--lg">
              Adobe Illustrator
            </p>
          </li>
          <li class="services__item">
            <p class="text--lg">
              Adobe InDesign
            </p>
          </li>
        </ul>
      </div>
      <div class="services__col">
        <ul class="services__list">
          <li class="services__item">
            <p class="text--lg">
              Figma
            </p>
          </li>
          <li class="services__item">
            <p class="text--lg">
              Avocode
            </p>
          </li>
          <li class="services__item">
            <p class="text--lg">
              FileZilla
            </p>
          </li>
        </ul>
      </div>
      <div class="services__col">
        <ul class="services__list">
          <li class="services__item">
            <p class="text--lg">
              PageSpeed Insights/Audits
            </p>
          </li>
          <li class="services__item">
            <p class="text--lg">
              TinyPNG/Squoosh
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>