<section class="skills">
  <h2 class="heading" id="skills">Skills</h2>
  <div class="skills__row">
    <div class="skills__col skills__col-md">
      <div class="skills__col-inner">
        <div class="skills__col">
          <h3 class="sub-heading">HTML</h3>
          <ul class="list">
            <li class="text--lg">HTML 5</li>
            <li class="text--lg">Handlebars</li>
            <li class="text--lg">Semantic layout</li>
          </ul>
        </div>
        <div class="skills__col">
          <h3 class="sub-heading">JS*</h3>
          <ul class="list">
            <li class="text--lg">ES6 (ES 2015)</li>
            <li class="text--lg">JQuery</li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="skills__col">
      <h3 class="sub-heading">CSS</h3>
      <ul class="list">
        <li class="text--lg">CSS 3</li>
        <li class="text--lg">SASS</li>
        <li class="text--lg">Flexbox</li>
        <li class="text--lg">Сross-browser layout</li>
        <li class="text--lg">Adaptive layout</li>
        <li class="text--lg">Table layout</li>
        <li class="text--lg">Basic CSS animation</li>
        <li class="text--lg">Bootstrap 3/4</li>
      </ul>
    </div>
    <div class="skills__col">
      <h3 class="sub-heading">Other</h3>
      <ul class="list">
        <li class="text--lg">BEM</li>
        <li class="text--lg">SVG</li>
        <li class="text--lg">Git</li>
        <li class="text--lg">GitHub/GitLab</li>
        <li class="text--lg">CSS sprites</li>
        <li class="text--lg">NPM/Yarn</li>
        <li class="text--lg">Gulp</li>
      </ul>
    </div>
    <small class="skills__small-text">
      * in the process of studying
    </small>
  </div>
</section>